:root{
	--main-bg-color: hsl(0, 0%, 100%);
	--alt-bg-color-1: hsl(0, 0%, 20%);
	--accent-color-1: hsl(222, 19%, 28%);
	--accent-color-2-200: hsl(179, 48%, 90%);
	--accent-color-2-300: hsl(179, 48%, 54%);
	--accent-color-2-400: hsl(183, 59%, 41%);
	--morph-color-1: hsl(179, 48%, 54%);
	--morph-color-2: hsl(261, 29%, 50%);
	--morph-shadow: hsl(0, 0%, 26%, 0.2);
	--text-color-100: hsl(0, 0%, 100%);
	--text-color-400: hsl(222, 19%, 28%);
	--text-color-600: hsl(0, 0%, 20%);
	--text-color-900: hsl(0, 0%, 0%);
	--text-color-2-300: hsl(261, 29%, 75%);
	--shadow-color-500: hsl(0, 0%, 26%);
}

body {
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
    background: var(--main-bg-color);
    color: var(--text-color-900)
}

h1 {
    font-weight: 800;
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h1, h2 {
	color: var(--text-color-400);
	font-family: 'Montserrat';
	text-align: center;
}

h1, h2, h3 {
    margin: 0.5rem 1rem;
}

h3 {
	color: var(--accent-color-1)
}

p, li {
	color: var(--text-color-600);
	font-family: 'Montserrat';
	font-size: 1em;
	margin: 0.5rem 1rem;
}

h3, a {
	font-family: 'Montserrat';
}






main {
    position: relative;
    display: grid;
    grid-template-areas:
        "navigation"
        "header"
        "section"
        "section"
        "footer";
}

nav {
	background: var(--alt-bg-color-1);
	position: sticky;
	top: 0;
	z-index: 9;
}

.nav-container {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    columns: 2;
    flex-direction: column;
    max-height: 3em;
    height: 100vh;
    transition: max-height 0.15s ease-out;
}
.nav-container > * {
    flex: 1;
}

.nav-bar {
    overflow: visible;
    max-height: 3em;
    z-index: 999;
    padding: 0 0.1rem;
    align-content: center;
    align-items: center;
    flex: 1;
}

.top-menu {
    display: flex;
}

nav img {
    max-width: 4rem;
    margin: .5em;
    z-index: 2;
}

.nav-menu {
    margin-right: 1em;
    float: right;
    height: 100%;
    margin-top: 1px;
}
.nav-menu > * {
	pointer-events: none;
}

.nav-menu svg {
    fill: var(--main-bg-color);
    margin: auto;
}

.nav-links {
    display: flex;
    font-size: 6vh;
    color: var(--text-color-100);
    background: var(--alt-bg-color-1);
    overflow: hidden;
    transition: max-height 0.15s ease-out;
    z-index: 1;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: space-evenly;
    align-items: center;
    max-height: 0px;
	margin-top: 6vh;
    margin-bottom: 6vh;
}

.nav-links a {
    color: var(--text-color-100);
    text-decoration: none;
    flex: 1;
    line-height: 25vh;
    width: 100%;
    text-align: center;
}

.nav-links a:hover {
	background: var(--accent-color-2-300);
    color: var(--text-color-600);
}

.nav-links .active {
	display: none;
}

header {
	color: var(--text-color-400);
}

.sub-page header {
    flex-direction: column;
    max-width: var(--max-ch-1, 80vw);
    min-width: 350px;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 4em auto;
}

header > *, .details > * {
    flex-basis: 0;
    flex-grow: 1;
}

header h1 {
	color: var(--accent-color-1);
	text-align: left;
}

header h2 {
    color: var(--accent-color-2-400);
    text-align: left;
}

header div {
    padding-bottom: 1em;
}

#portrait {
	text-align: right;
}
.greeting {
	font-size: 5vw;
}

section {
    margin: 1em 0;
}

.dark-section {
    background: var(--accent-color-1);
    color: var(--text-color-100);
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 1.5em;
    padding: 1em;
}

.dark-section * {
	color: var(--text-color-100) !important;
}

.details {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
    margin: 0 auto;
}

.details a {
	text-decoration: none;
}

.details div {
    margin-bottom: 3em;
    padding: 0.5rem;
}

.details h3 {
    text-align: center;
    font-size: 2em;
}

#about-list {
	list-style: none;
}
#about-list li {
	padding-left: 1em;
	position: relative;
}

#about-list li:before {
	content: '\2713';
	position: absolute;
	color: var(--accent-color-2-300);
	right: 100%;
	font-size: 1.5em;
	font-weight: 700;
	vertical-align: bottom;
	bottom: 0;
	line-height: 1em;
}

#dbl-chk::before {
	content: '\2713\2713' !important;
}

.morphing-shape {
	position: relative;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	width: 8em;
	height: 8em;
	margin: auto;
	background-image: linear-gradient(19deg, var(--morph-color-1) 0%, hsl(261, 29%, 50%) 100%);
	background-size: 400% 400%;
	background-position: 0% 50%;
	border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
	box-shadow: 15px 15px 50px var(--morph-shadow);
	overflow: visible;
	padding: 0 !important;
}
.morphing-shape:hover {
	animation-play-state: paused;
}

.morphing-shape h3, .morphing-shape:before {
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 3em;
	line-height: 2.5em;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	min-height: 100%;
	min-width: 100%;
    text-align: center;
    font-family: 'Montserrat';
}
	
.morphing-shape:before {
	position: absolute;
	top: 0;
	color: var(--accent-color-1);
	z-index: 0;
}
.morphing-shape h3 {
	color: var(--text-color-100);
	margin: auto;
	overflow: hidden;
	border-radius: inherit;
	z-index:1;
    flex-flow: nowrap;
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 5px var(--shadow-color-500);
}
.morph-about:before {
	content: "About";
}
.morph-about {
	animation: morphing 10s ease infinite;
}
.morph-projects:before {
	content: "Projects";
}
.morph-projects {
	animation-delay: 1.3s;
	animation: morphing 10.5s ease infinite;
    animation-direction: alternate-reverse;
}

.morph-contact:before {
	content: "Contact";
}
.morph-contact {
	animation-delay: 2.1s;
	animation: morphing 11s ease infinite;
	animation-direction: alternate;
}


.about-me, .project-card, .contact-container, .message-received  {
    max-width: var(--max-width-1, 80vw);
    margin: 0 auto;
    min-width: 350px
}

.about-me * {
    padding-bottom: 1em;
}

.about-me h3 {
	font-size: 1.5em;
}

.about-me li {
	position: relative;
	list-style: none;
	padding-left: 1em;
}

.about-me li:before {
    content: '\1F44D';
    position: absolute;
    color: transparent;
    right: 100%;
    font-size: 1.5em;
    bottom: 0;
    text-shadow: 0 0 0 var(--accent-color-2-300);
    line-height: 2.25em;
    transform: scale(-1,1) rotate(355deg);
    transition: text-shadow 150ms linear;
}

.about-me li:hover::before,
.about-me li:focus::before {
    text-shadow: 0 0 0 var(--morph-color-2);
}


#crew-calendar {
    background-image: url(../imgs/crew_calendar.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#sharepoint-calendar {
    background-image: url(../imgs/sharepoint_calendar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#poster-series {
    background-image: url(../imgs/poster_series.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.project-card {
	display: flex;
	position: relative;
    border-radius: 0.5em;
    margin: 3em auto;
    padding-top: 15em;
    color: white;
    box-shadow: 0px 0px 10px var(--shadow-color-500);
    position: relative;
    flex-direction: column;
    text-align: left;
    overflow: hidden;
    letter-spacing: 0.1em;
}

.card-content {
    background: var(--accent-color-1);
    position: relative;
}

.card-content::before {
    background: linear-gradient(0deg, var(--accent-color-1) 0, white 15%,transparent 100%);
    content: '';
    position: absolute;
    bottom: 99%;
    left: 0;
    height: 5em;
    width: 100%;
    font-family: 'Montserrat';
    z-index: 01;
}

.project-card * {
	letter-spacing: 0.2em;
}

.project-card > * {
    padding: 1em;
    margin: 0 auto;
    color: white;
    letter-spacing: 0.1em;
    z-index: 1;
    text-align: left;
}

.project-card h3 {
	color: hsl(179deg 48% 90%);
	font-size: 1.5em;
}

.project-card h4{
	color: var(--text-color-2-300);
	margin: 0 1em;
	font-style: italic;
}

.project-card .desc{
	padding: 0.5em;
	margin: 1em;
	color: white;
}

.project-card .view {
	padding: 1em;
	margin: 2em auto;
	border-radius: 0.5em;
	border: 1px double var(--text-color-2-300);
    color: var(--text-color-2-300);
    max-width: max-content;
    position: relative;
    overflow: hidden;
    font-weight: 700;
}

.project-card .view a {
	text-decoration: none;
	color: inherit
}

.project-card .view:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: screen;
    transform: translate(-101%);
    transition: transform 150ms linear;
    pointer-events: none;
}
.project-card .view:after {
	background: var(--text-color-2-300);
}

.project-card .view:hover::after, .submit-btn:after {
	transform: translate(0)
}

.contact {
	overflow: hidden;
}


.contact-container h3, .message-received h3 {
    font-size: 2em;
    margin: 0 auto;
	text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 1em 0.5em;
    font-size: 1.5em;
    color: var(--accent-color-1);
}

.form-container * {
	display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}

.form-container *:not(label) {
    width: 100%;
}

.contact-container a {
	text-decoration: none;
	color: var(--accent-color-1);
}

.submit-btn {
    margin-left: auto;
    width: max-content !important;
    border: 0.125rem solid;
    border-radius: 0.25em;
    padding: 0.5rem;
    text-align: center;
    min-width: 0 !important;
    font-size: 1rem;
    position: relative;
    transition: background-color 150ms linear;
    overflow: hidden;
}

.submit-btn:hover {
	background: var(--accent-color-1);
	color: var(--main-bg-color)
}


.contact-container {
    transition: transform 150ms linear;
    transform-origin: top;
    overflow: hidden;
}

.message-received {
	transform: scale(0);
    transform-origin: bottom;
}

.form-container input, .form-container textarea {
    min-height: 2em;
    font-size: 0.75em;
    font-family: 'Montserrat';
}


footer {
	height: 10em;
	background: var(--accent-color-1);
	color: var(--text-color-100);
	display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer a {
	max-width: 3em;
	width: 100%;
}

footer a:hover *,
footer a:focus *  {
    fill: var(--accent-color-2-300);
    border-color: var(--main-bg-color);
    background: var(--main-bg-color);
}

footer * {
    fill: var(--text-color-100);
    transition: background 150ms linear, fill 150ms linear;
    border-radius: 50%;
    border: 3px solid transparent;
}

.video-container {
    height: 100vh;
    width: 100vw;
    background: hsl(0,0%,20%);
    margin: auto;
    display: inline-flex;
}
video {
	max-width: 80vw;
	margin: auto;
	
}


@-moz-keyframes morphing {
	0% {
		background-position: 0% 50%;
		border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
		box-shadow: 15px 15px 50px var(--morph-shadow);
	}
	25% {
		border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
	}
	50% {
		background-position: 100% 50%;
		border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
		box-shadow: -10px -5px 50px var(--morph-shadow);
	}
	75% {
		border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-webkit-keyframes morphing {
	0% {
		background-position: 0% 50%;
		border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
		box-shadow: 15px 15px 50px var(--morph-shadow);
	}
	25% {
		border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
	}
	50% {
		background-position: 100% 50%;
		border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
		box-shadow: -10px -5px 50px var(--morph-shadow);
	}
	75% {
		border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-o-keyframes morphing {
	0% {
		background-position: 0% 50%;
		border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
		box-shadow: 15px 15px 50px var(--morph-shadow);
	}
	25% {
		border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
	}
	50% {
		background-position: 100% 50%;
		border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
		box-shadow: -10px -5px 50px var(--morph-shadow);
	}
	75% {
		border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes morphing {
	0% {
		background-position: 0% 50%;
		border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
		box-shadow: 15px 15px 50px var(--morph-shadow);
	}
	25% {
		border-radius: 58% 42% 75% 25%/76% 46% 54% 24%;
	}
	50% {
		background-position: 100% 50%;
		border-radius: 50% 50% 33% 67%/55% 27% 73% 45%;
		box-shadow: -10px -5px 50px var(--morph-shadow);
	}
	75% {
		border-radius: 33% 67% 58% 42%/63% 68% 32% 37%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@media only screen and (min-width: 750px) and (max-width: 950px)  { 
	.morphing-shape {
		height: 7em;
		width: 7em;
	}
	.morphing-shape h3, .morphing-shape:before {
	    font-size: 2em;
	    line-height: 3.5em;
    }
} 


@media only screen and (min-width: 750px) {  
	.nav-container {
		flex-direction: row;
		max-width: 1200px;
		margin: 0 auto;
	}
	nav img {
	    margin-left: 1em;
	    max-width: 6rem;
	}
	.nav-menu {
		display: none;
	}
	.nav-links{
		font-size: 1.5em;
		margin: 0 auto;
		flex-grow: 5;		
		flex-direction: row;
		max-height: 3em;
		max-width: 800px;
	    margin-right: 1em;
	}
	.details {
		flex-direction: row;
	}
	header {
	    display: flex;
	}
	header div {
	    padding: 2em;
	}
	#portrait img {
	    max-height: 500px;
        max-width: 375px;
	    box-shadow: 6px 6px 20px 0px var(--shadow-color-500);
        margin: 0 15px;
	}
	.greeting {
		font-size: 2vw;
	}
	
	.about-me, .form-container {
		flex-direction: column;
	}
	
	.about-me * {
		width: 100%;
	}
	
	.about-me h3 {
		max-width: 20%;	
	}
	.about-me *:not(ol), .form-container * {
	    display: flex;
	    min-width: 20%;
	}
	.form-container * {
		flex-direction: row;
	}
	.form-container label {
	    max-width: 20%;
	}
	.contact-container h3, .message-received h3 {
    	font-size: 3em;
    }
}

@media only screen and (min-width: 1000px) {  
	:root {
		--max-ch-1: 75ch;
		--max-width-1: 1000px;
	}
}

@media only screen and (min-width: 1600px) {  
	.greeting {
		font-size: 2em;
	}
}







